/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body, .viewport {
    width: 100%;
    height: 100%;
    margin: 0;
}

#dialog {
    z-index: 2;
}

.vbox {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

#scale {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#scale .btn {
    width: 100%;
}

#main {
    -webkit-flex: 5;
    -ms-flex: 5;
    flex: 5;
}

hr {
    border-width: 4px;
}

canvas {
    display: inline-block;
    cursor: pointer;
}

.gridCanvas {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 100px;
    bottom: 100px;
    z-index: 1;
    background-color: Black;
}

.canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
}

div {
    top: 0;
    left: 0;
    transition: transform .2s;
    user-select: none;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.border {
    border-style: solid;
    border-width: 2px;
}

button:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.08);
}

.grid-container {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 0;
    max-width: 95%;
    max-height: 600px;
    height: 600px;
}

#grid {
    position: relative;
    width: 1681px !important;
    height: 12001px !important;
    list-style: none;
    /* Will be modified by the grid jquery lib, depending on the items */
    -webkit-transition: width 0.2s, height 0.2s;
    transition: width 0.2s, height 0.2s;
    background-size: 20px 20px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
}

    .grid li {
        background: #33c6ff;
        display: block !important;
        position: absolute;
        z-index: 1;
        font-weight: bold;
        line-height: 4em;
        text-align: center;
        cursor: pointer;
        -webkit-transition: top 0.2s, left 0.2s, width 0.2s, height 0.2s, font-size 0.2s, line-height 0.2s;
        transition: top 0.2s, left 0.2s, width 0.2s, height 0.2s, font-size 0.2s, line-height 0.2s;
    }

        .grid li .tooltiptext {
            visibility: hidden;
            top: 15%;
            width: 200px;
            background-color: black;
            color: #fff;
            text-align: initial;
            padding: 5px;
            border-radius: 6px;
            /* Position the tooltip text - see examples below! */
            position: absolute;
            opacity: 0.8;
            font-size: 4.5em;
            z-index: 1;
        }

        .grid li .inner {
            position: absolute;
            background: #33c6ff;
            border-style: solid;
            border-width: 2px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            -webkit-transition: background 3s;
            transition: background 3s;
        }

        .grid li .Offcut {
            background: #FF6FFF !important;
        }

        .grid li .Cut {
            background: gray !important;
        }

        .grid li .inner .info {
            font-size: 5em;
            margin-top: 30px;
        }

            .grid li .inner .info .dimensions {
                margin: 30px 0;
            }

            .grid li .inner .info p {
                margin: 20px 0;
            }

        .grid li.changed .inner {
            background: #ffff66;
            -webkit-transition: none;
            transition: none;
        }

        .grid li.ui-draggable-dragging {
            -webkit-transition: none;
            transition: none;
        }

        .grid li.position-highlight {
            -webkit-transition: none;
            transition: none;
        }

            .grid li.position-highlight .inner {
                border: none;
                background: #ccc;
            }

    .grid .controls {
        background: #33c6ff;
        position: absolute;
        top: 0;
        right: 0;
        float: right;
        font-size: 1em;
        font-weight: normal;
        line-height: 1em;
        opacity: 1;
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s;
    }

        .grid .controls .config {
            font-size: 4em;
            float: left;
            margin: 5px 5px 0 0;
            padding: 0.3em;
            background: #33c6ff;
            color: black;
            text-decoration: none;
        }

            /*.grid .controls .config:hover {
                background: #f1f1f1;
            }*/

    .grid li:hover .controls {
        opacity: 1;
    }

.header {
    height: 55px;
    border-bottom: 1px solid #ccc;
}

    .header .button {
        float: left;
        width: 40px;
        height: 40px;
        margin: 6px 0 0 10px;
        border: solid 1px #ccc;
        background: #fafafa;
        color: #000;
        font-size: 18px;
        line-height: 40px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }

    .header p {
        float: left;
        padding: 14px 0 0 10px;
        font-size: 18px;
        line-height: 18px;
    }


.ruler-horizontal {
    position: relative;
    width: 106%;
    margin: 0 0 50px 15px;
    height: 14px;
    display: flex;
}

    .ruler-horizontal .in {
        height: 14px;
        width: 22%;
        flex-direction: column;
        flex: 0 0 100%;
    }

        .ruler-horizontal .in:after {
            position: absolute;
            bottom: -15px;
            font: 11px/1 sans-serif;
        }

        .ruler-horizontal .in:nth-of-type(1):after {
            content: '0"';
        }

        .ruler-horizontal .in:nth-of-type(2):after {
            content: '12.0"';
        }

        .ruler-horizontal .in:nth-of-type(3):after {
            content: '24.0"';
        }

        .ruler-horizontal .in:nth-of-type(4):after {
            content: '36.0"';
        }

        .ruler-horizontal .in:nth-of-type(5):after {
            content: '48.0"';
        }

        .ruler-horizontal .in:nth-of-type(6):after {
            content: '60.0"';
        }

        .ruler-horizontal .in:nth-of-type(7):after {
            content: '72.0"';
        }

        .ruler-horizontal .in:nth-of-type(8):after {
            content: '84.0"';
        }


.ruler-vertical {
    position: absolute;
    height: 100%;
    margin: 27px 0 0px 0px;
    width: 14px;
    display: flex;
    flex-direction: column;
}

    .ruler-vertical .in {
        width: 14px;
        flex-direction: column;
        flex: 0 0 100%;
    }

        .ruler-vertical .in:after {
            bottom: -15px;
            font: 11px/1 sans-serif;
        }

            .ruler-vertical .in:nth-of-type(1):after {
                content: '0"';
            }

            .ruler-vertical .in:nth-of-type(2):after {
                content: "20.0'";
            }

            .ruler-vertical .in:nth-of-type(3):after {
                content: "40.0'";
            }

            .ruler-vertical .in:nth-of-type(4):after {
                content: "60.0'";
            }

            .ruler-vertical .in:nth-of-type(5):after {
                content: "80.0'";
            }
            
            .ruler-vertical .in:nth-of-type(6):after {
                content: "100.0'";
            }