/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    overflow: hidden;
}

canvas {
    cursor: pointer;
}

div {
    top: 0;
    left: 0;
    transition: transform .2s;
    cursor: move;
    user-select: none;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.grid-container {
    position: absolute;
    top: 120px;
    left: 50px;
    right: 50px;
    bottom: 0;
    overflow: auto;
}

.grid {
    position: relative;
    height: 100%;
    list-style: none;
    /* Will be modified by the grid jquery lib, depending on the items */
    -webkit-transition: width 0.2s, height 0.2s;
    transition: width 0.2s, height 0.2s;
}

    .grid li {
        position: absolute;
        z-index: 1;
        font-weight: bold;
        line-height: 4em;
        text-align: center;
        cursor: pointer;
        -webkit-transition: top 0.2s, left 0.2s, width 0.2s, height 0.2s, font-size 0.2s, line-height 0.2s;
        transition: top 0.2s, left 0.2s, width 0.2s, height 0.2s, font-size 0.2s, line-height 0.2s;
    }

        .grid li .inner {
            position: absolute;
            background: #fff;
            border: 1px solid #bbb;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            -webkit-transition: background 3s;
            transition: background 3s;
        }

        .grid li.changed .inner {
            background: #ffff66;
            -webkit-transition: none;
            transition: none;
        }

        .grid li.ui-draggable-dragging {
            -webkit-transition: none;
            transition: none;
        }

        .grid li.position-highlight {
            -webkit-transition: none;
            transition: none;
        }

            .grid li.position-highlight .inner {
                border: none;
                background: #ccc;
            }

    .grid .controls {
        position: absolute;
        top: 0;
        right: 0;
        float: right;
        font-size: 0.4em;
        font-weight: normal;
        line-height: 1em;
        opacity: 0;
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s;
    }

        .grid .controls .resize {
            font-size: 0.6em;
            float: left;
            margin: 5px 5px 0 0;
            padding: 0.3em;
            background: #fafafa;
            color: #444;
            text-decoration: none;
        }

            .grid .controls .resize:hover {
                background: #f1f1f1;
            }

    .grid li:hover .controls {
        opacity: 1;
    }

.header {
    height: 55px;
    border-bottom: 1px solid #ccc;
}

    .header .button {
        float: left;
        width: 40px;
        height: 40px;
        margin: 6px 0 0 10px;
        border: solid 1px #ccc;
        background: #fafafa;
        color: #000;
        font-size: 18px;
        line-height: 40px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }

    .header p {
        float: left;
        padding: 14px 0 0 10px;
        font-size: 18px;
        line-height: 18px;
    }
